@font-face {
    font-family: ClearSans;
    src: url('../fonts/clear-sans/ClearSans-Regular.ttf');
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/clear-sans/ClearSans-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/clear-sans/ClearSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/clear-sans/ClearSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/clear-sans/ClearSans-Thin.ttf');
    font-weight:100;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/clear-sans/ClearSans-Thin.ttf');
    font-weight:200;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/clear-sans/ClearSans-Light.ttf');
    font-weight:300;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/clear-sans/ClearSans-Medium.ttf');
    font-weight:500;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/clear-sans/ClearSans-MediumItalic.ttf');
    font-weight:500;
    font-style: italic;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/clear-sans/ClearSans-Medium.ttf');
    font-weight:600;
}

@font-face {
    font-family: ClearSans;
    src: url('../fonts/clear-sans/ClearSans-Bold.ttf');
    font-weight: 700;
}
